In [16]:
import os
os.chdir('..')

In [17]:
import pandas as pd

In [18]:
from m5.params import training_days, nb_items, batch_size

In [21]:
from m5.feature import item_category, item_dept, item_state_as_pandas, reduced_calendar

In [87]:
from numpy.random import randint
days_index = randint(training_days, size=batch_size)
items_index = randint(nb_items, size=batch_size)

feat_item_category, _ = item_category()
feat_item_category = feat_item_category.take(items_index)

feat_item_dept, _ = item_dept()
feat_item_dept = feat_item_dept.take(items_index)

feat_calendar = reduced_calendar()
feat_calendar = feat_calendar.take(days_index)

# from m5.feature import item_state
# codes,cat = item_state()

state_series = pd.Categorical.from_codes(*item_state())
state_series

snap_df = feat_calendar[['snap_CA', 'snap_TX', 'snap_WI']]

feat_calendar = feat_calendar.drop(columns=['snap_CA', 'snap_TX', 'snap_WI'])

snap_df = snap_df.rename(columns= {
    'snap_CA': 'CA',
    'snap_TX': 'TX',
    'snap_WI': 'WI'
},
)

In [89]:
snap_df

      CA  TX  WI
1549   0   0   0
340    1   0   0
846    0   0   0
1855   0   0   0
816    0   0   0
1663   0   0   0
1547   0   0   0
513    0   0   0
864    0   1   1
29     0   0   0
1384   0   1   0
1849   0   0   0
1624   0   1   1
1128   1   0   1
767    1   1   1
1622   1   1   1

In [90]:
days_index, state_series[items_index]

(array([1549,  340,  846, 1855,  816, 1663, 1547,  513,  864,   29, 1384,
        1849, 1624, 1128,  767, 1622]),
 [CA, CA, WI, CA, TX, ..., WI, TX, CA, WI, TX]
 Length: 16
 Categories (3, object): [CA, TX, WI])

In [91]:
feat_snap = snap_df.lookup(days_index,state_series[items_index])

In [92]:
feat_snap

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1])